<section class="about-index">
  <header class="page-header">
    <h1> About Us</h1>
  </header>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Molestias illo harum voluptates, exercitationem repellendus odio
    sed molestiae laudantium, facere illum repellat quia quis animi
    ut perspiciatis distinctio autem ratione ea! Excepturi beatae,
    fugit consequatur esse ullam nisi, ex aspernatur eaque iste molestiae
    sunt neque cupiditate nostrum voluptas explicabo amet. Tenetur?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Molestias illo harum voluptates, exercitationem repellendus odio
    sed molestiae laudantium, facere illum repellat quia quis animi
    ut perspiciatis distinctio autem ratione ea! Excepturi beatae,
    fugit consequatur esse ullam nisi, ex aspernatur eaque iste molestiae
    sunt neque cupiditate nostrum voluptas explicabo amet. Tenetur?
  </p>
</section>
